* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #1e90ff, #ee82ee, #1e90ff);
    background-size: 200%;
    animation: bg 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: #fff;
}

@keyframes bg {
    to {
        background-position: 200%;
    }
}